# Системные и временные файлы
*.log
.DS_Store

# Конфиги окружения
.env
.env.backup
.env.production

# IDE и редакторы
/.idea
/.vscode
/.phpactor.json

# Логи тестов
.phpunit.result.cache

# PHP-зависимости (оставляем vendor)
# vendor

# Сторонние модули для Node.js включаем в репозиторий,
# т.к. на render.com они будут устанавливаться заново
# node_modules

# Vite сборка: публикуем директорию build
# public/hot
# public/storage
# storage/*.key
# storage/pail

# Компилированные ассеты
/public/build
public/build

# MapComponent.vue — необходим для сборки фронтенда
!resources/js/components/MapComponent.vue